@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
html, body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: url("../../Assets/images/sayagata.png");
}
.main-wrapper{
    max-width: 85rem;
    margin-left: 12rem;
    margin-right: 12rem;
    background-color: white;
    height: 90%;
    overflow: auto
    border-left: 2px solid  #cccccc;
}
.section-header, .page-header
{
    background-color: tomato;
    margin-bottom: 0;
    color: white;
}
.section-header H1 {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 5rem;
    color: white; 
    text-align: center;

}
.page-header H1
{
    padding-left: 20px;
    padding-bottom: 12px;
    font-size: 5rem;
    color: white; 
    text-align: center;
}
.home-button {
    background: white;
    border: 2px solid #ff674d;
    border-radius: 12px;
    color: tomato;
    font-weight: 900;
    padding-right: 1rem;
    padding-left: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
}
.home-button:visited {
    color: tomato;
}
.section-nav-bar {
    padding-top: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 900;
  }
header H1 {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-nav-bar a {
    color: white;
}
a:visited {
    color: white;
}
a {
    text-decoration: none;
}
a:hover {
    color: grey;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
}

p {
    padding-left: 2rem;
}

footer {
    text-align: center;
    font-size: 0.5rem;
}